a {
  text-decoration: none;
  color: #1C4257;
}

a.editlink {
   background-color: #EFF6FF;
   padding:3px 12px;
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   -moz-box-shadow:0 0 5px #85B2CB;
   -webkit-box-shadow:0 0 5px #85B2CB;
}

a.editlink:hover {
  background-color:#FFFFFF;
  text-decoration:underline;
}

/*data table
=======================================*/
.data-table,.paginator {
  width: 76%;
}

.data-table {
  margin: 0 auto;
}

.data-table thead {
  background-color: #999999;
}

.data-table td {
  padding: 4px 14px;
}

.data-table th span {
  padding: 4px 14px;
  display: block;
}

.data-table th {
  padding: 0;
}

.data-table thead th {
  font-weight: bolder;
  text-align: center;
}

.data-table tbody tr:nth-child(even) {
  background-color: #F2F2F2;
}

.data-table tbody tr:hover {
  background-color: #E8F2FE;
}

.data-table th {
  background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) ) repeat scroll 0 0 #C4C4C4;
  background: #c4c4c4
    -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
    0.8) ), to(rgba(255, 255, 255, 0) ) );
  border: 1px solid #A8A8A8;
  color: #4F4F4F;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.data-table th:hover {
  -moz-box-shadow: 0px 0px 8px #85b2cb, inset 0px 1px 0px #fff;
  -webkit-box-shadow: 0px 0px 8px #85b2cb, inset 0px 1px 0px #fff;
  box-shadow: 0px 0px 8px #85b2cb, inset 0px 1px 0px #fff;
  background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0) ) repeat scroll 0 0 #85b2cb;
  background: #85b2cb
    -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
    0.6) ), to(rgba(255, 255, 255, 0) ) );
  border: 1px solid #7096ab;
  color: #313131;
}

/*paginator
=======================================*/
.paginator {
  text-align: right;
  margin: 10px auto;
}

.paginator .item {
  padding: 5px;
  background-color: #EFF6FF;
  margin-left: 5px;
}

.paginator .current-page,.paginator .item:hover {
  font-weight: bold;
  background-color: #B8D6FA;
  color: #ffffff;
  -moz-box-shadow: 0px 0px 5px #85b2cb;
  -webkit-box-shadow: 0px 5px 8px #85b2cb;
  box-shadow: 0px 0px 5px #85b2cb;
}

/*orderer
=======================================*/
.header-order  a {
  background-image: url("images/icon-sortable.png");
  background-repeat: no-repeat;
  background-position: right 5px;
  padding-right: 11px;
}

.header-order.asc,.header-order.desc {
  background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.4) ) repeat scroll 0 0 #85B2CB;
  background: #85b2cb
    -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
    0) ), to(rgba(255, 255, 255, 0.4) ) );
  color: #1C4257;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.header-order.asc a {
  background-image: url("images/icon-triangle-up.png");
}

.header-order.desc a {
  background-image: url("images/icon-triangle-down.png");
}